* {
    margin: 0;
    padding: 0;
}

#grids {
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 300px;
    flex-wrap: wrap;
    margin: auto;
    /* padding-top: 20px; */
    margin-top: 20px;
}

div {
    border: 1px solid black;
    width: 16px;
    height: 16px;
}

div:hover {
    background-color: rgb(203, 159, 104);
}

header {
    text-align: center;
    margin-top: 20px;
}

#change-btn {
    padding: 5px;
}